/* modes-themes.css v1.0 */

/* Dark mode specific styles */
.dark-mode .converter-container {
    background: rgba(0, 0, 0, 0.99);
    color: #ccc;
}

.dark-mode button,
.dark-mode input,
.dark-mode select {
    background: rgba(75, 75, 75, 0.5);
    color: #ddd;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Toggle switch for dark mode */
.switch {
    position: fixed;
    top: 25px;
    right: 50px;
    z-index: 1000;
    cursor: pointer;
}

.switch input {
    display: none;
}

.switch .slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.2s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
}
